.campo
    label(for="titulo") Destino:
    input#titulo(type="text", name="titulo", placeholder="Ingresa Destino", value= titulo)  
.campo
    label(for="precio") Precio:
    input#precio(type="number", name="precio", placeholder="Ingresa Precio", value= precio)
.campo
    label(for="fecha_ida") Fecha Ida:
    input#fecha_ida(type="date", name="fecha_ida",value= fecha_ida)
.campo
    label(for="fecha_vuelta") Fecha Vuelta:
    input#fecha_vuelta(type="date", name="fecha_vuelta", value= fecha_vuelta)
.campo
    label(for="imagen") Inserta Imagen:
    input#imagen(type="file", name="imagen")
.campo
    label(for="descripcion") Descripcion:
    textarea#descripcion(name="descripcion")= descripcion
.campo
    label(for="disponibles") Lugares Disponibles:
    input#disponibles(type="number", name="disponibles", placeholder="Ingresa Lugares Disponibles", value= disponibles)
                